        @import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
        body{
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* height: 100vh; */
        }
        
#load{
	transition: all 0.5 s;
	font-family: Roboto condensed;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	position:fixed;
	/* left: 35vw; */
	/* top: 25vh; */
	margin: auto;
	margin-top: 25vh;
	/* align-self: center; */
	/* width: min-content;  */
	/* height: min-content; */
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vw;
	flex-wrap: wrap;
	z-index: 1;
}
.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* sco
        /* score dialouge box*/
        #box{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        width: 80vw;
        height: 50vh;
        overflow: hidden;
        background: #f1f1f1;
        box-shadow: 0 0 20px black;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 9999;
        padding: 10px;
        text-align: center;
        max-width:500px;
        /* display: none; */
        }
        #box span{
        color: #2ecc71;
        font-size: 40px;
        display: block;
        margin: 20px 0;
        }
        #box h1{
        color: #333;
        }
        .close-btn{
        /* position: absolute; */
        /* left: 40%; */
        /* top: 80%; */
        font-size: 18px;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        background: #5e0d5e;
        /* display: inline-block; */
        border-radius: 4px;
        align-self: center;
        width: min-content;
        }
            
        /* .container-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        } */
        .container-main{
        /* padding: 15px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(images/dy_bg.jpg);
        background-repeat: no-repeat;
        background-color:#fdfdfd;
        /* background-position: 50px; */
        background-size:contain;	
        padding: 0px;
        }
        .content{
            padding: 0vh 8vw 2vh 8vw;
        }
        .wall{
	/* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  */
	letter-spacing: 1px; 
	font-size: 24px;
}
        .ele{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        .fa {
  /* padding: 15px; */
  font-size: 30px;
  max-width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}

        /* #file input[type="file"] {
        opacity: 0;
        position: fixed;
        width: 0;
        transition: all 0.5s;
        }
        #file label {
        display: flex;
        flex-direction: row;
        justify-content:center; */
        /* background-image: -webkit-linear-gradient(); */
        /* background-image: -webkit-linear-gradient(left, #39ade7, #2079b0); */
        /* background-color: #44c0fe; */
        /* padding: 10px 10px; */
        /* font-family: sans-serif, Arial; */
        /* font-size: 16px;
        color:rgb(249, 252, 255);
        border: 2px solid #3181b6;
        align-items: baseline;
        border-radius: 6px;
        transition: all 0.5s; */

        /* width:80vw; */
        /* } */
        /* #file{ */
        /* background-color: #3e8e41; */
        /* box-shadow: 0 5px #666; */
        /* background-color: #3498db; */
        /* background-image: -webkit-linear-gradient(left, #2ecc55, #20b06d); */
        /* border-radius: 6px; */
        }
        /* #file:active{
            transform: translateY(4px);
        } */
        /* #filelabel::after{
            background-image: -webkit-linear-gradient(left, #2ecc55, #20b06d);
        } */
        .box-content{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        height:inherit;
        }
       
        .vid{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        }
        .button {
        /* display: inline-block; */
        border-radius: 4px;
        background-color: #9f1c33;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        width: 50vw;
        max-width: 120px;
        transition: all 0.5s;
        cursor:pointer;
        margin: 5px;
        box-shadow:inset 0 -0.4em 0 -0.20em rgba(0,0,0,0.17);
        }

        .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        }

        .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
        }

        .button:hover span {
        padding-right: 25px;
        }

        .button:hover span:after {
        opacity: 1;
        right: 0;
        }
        .button:active {
        /* background-color: #3e8e41; */
        /* box-shadow: 0 5px #666; */
        transform: translateY(4px);
        }
        a {text-decoration: none;}
        .file::after{
            content: " ";
        }
        @media (min-width: 480px) {
         .container-main{
            background-size:70vh;
         }
 		 .site-icon{
			margin-left: 5vw;
            }
		 .wall{
			/* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  */
			letter-spacing: 2px; 
			font-size: 40px;
         }
         #load{
	margin-top: auto;
	}
        }
.feedback-emoji input[type="radio"] {
opacity: 0;
position: fixed;
width: 0;
}

.feedback-emoji label {
opacity: 0.5;
/* width:80vw; */
}

.feedback-emoji label:hover{
 /* background-color: #dfd; */
opacity: 0.7;
}
/* .5:hover{
    content: &#128577;
} */
.feedback-emoji input[type="radio"]:checked + label {
opacity: 1.0;
}
